version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: ledgerpay-postgres
    environment:
      POSTGRES_DB: ledgerpay
      POSTGRES_USER: ledgerpay
      POSTGRES_PASSWORD: ledgerpay
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: ledgerpay-redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: ledgerpay-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  postgres_data: